body {
  background-color: white;
}

.time {
  border: none;
  width: 20px;
  font-size: 30px;
}

.button {
  margin-top: 30px;
  width: 80px;
  height: 40px;
  font-weight: bold;
}

#h {
  padding-left: 20px;
}